.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.box {
    width: 80%;
    max-width: 55rem;
    background: #043565;
    padding: 2rem 0;
}
.link {
    text-decoration: none;
    color: white;
    margin-top: 10px;
    width: 65%;
}
.h4 {
    text-align: left;
    color: black;
    position: relative;
    left: 10%;
    background-color: white;
    width: max-content;
    padding: 8px;
    border-radius: 5px;
}
.res {
    display: flex;
}
.percentholder {
    height: 16px;
    background-color: red;
    width: 30%;
    margin-top: 0.7rem;
    margin-bottom: 2rem;
    border-radius: 15px;
}
.percent {
    height: 100%;
    background: green;
    border-radius: 15px;
}
.h6 {
    width: 5%;
    margin-top: 0.76rem;
    font-size: 1rem;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}
