.sec{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.heading{
    text-align: center;
    margin-top: 6rem;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, minmax(18rem, 1fr));
    align-items: center;
    justify-items: center;

}
.card{
    background: #043565;
    width: 18rem;
    max-width: 27rem;
    height: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    position: relative;
    display: flex;
    padding-left: 20px;
    border-radius: 9px;
}
.link{
    text-decoration: none;
    color: black;
}
.sub{
    text-align: center;
}
.percent{
    position: absolute;
    right: 10px;
    bottom: -10px;
    color: white;
    background: green;
    padding: 3px;
    border-radius: 5px;
}
.card:hover{
    background: rgba(4, 53, 101, 0.8);
}
.print{
    position: absolute;
    left: 90%;
    top: 10.5%;
    height: 35px;
    width: 50px;
    padding: 5px;
}

@media (min-width: 1100px) {
    .cards{
        width: 85%;
    }
}
@media (max-width: 1100px) {
    .cards{
        width: 100%;
    }
}
@media (max-width: 968px) {
    .cards{
        grid-template-columns: repeat(2, minmax(18rem, 1fr));
        width: 100%;
    }
    
}
@media (max-width: 678px) {
    .cards{
        grid-template-columns: repeat(1, minmax(15rem, 1fr));
        width: 100%;
    }
    .card{
        width: 85vw;
    }
    
}